.main {
  height: 100%;
  padding: 100px;
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;

  animation-name: section-appearing;
  animation-duration: 0.2s;
}

.main__button {
  flex-basis: 200px;
  height: 200px;
  border: 0;
  margin: 15px;

  background-color: var(--accent);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(54, 54, 54, 0.5);
  color: white;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;

  transition: all;
  transition-duration: 0.2s;
}

.main__button--graph {
  background-color: var(--graph);
}

.main__button--sorting {
  background-color: var(--main);
}

.main__button:hover {
  background-color: var(--accent);
}

.main__button:active {
  transform: scale(0.99);
  box-shadow: 0 0 0 var(--mid-shadow);
}

.main__title {
  flex: 0 0 100%;
  height: 100px;
  text-align: center;

  color: white;
  font-size: 50px;
}

.main__login {
  position: fixed;
  top: 0px;
  margin: 20px 10px;
}
