* {
  margin: 0px;
  padding: 0px;
}

p,
textarea,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
}

#app {
  --light-shadow: rgba(54, 54, 54, 0.2);
  --mid-shadow: rgba(54, 54, 54, 0.5);
  --dark-shadow: rgba(54, 54, 54, 0.8);

  --main: rgb(46, 168, 238);
  --main-hover: rgb(37, 138, 197);
  --main-active: rgb(24, 97, 139);

  --accent: rgb(255, 127, 80);
  --accent-hover: rgb(216, 107, 67);
  --accent-active: rgb(170, 85, 53);

  --agree: rgb(59, 207, 59);
  --agree-hover: rgb(53, 185, 53);
  --agree-active: rgb(49, 170, 49);

  --warn: rgb(231, 214, 62);
  --warn-hover: rgb(214, 198, 57);
  --warn-active: rgb(207, 192, 56);

  --error: rgb(231, 62, 62);
  --error-hover: rgb(201, 53, 53);
  --error-active: rgb(170, 37, 37);

  --box: rgb(255, 255, 255);
  --background: rgb(44 64 80);

  --sort: rgb(46, 168, 238);
  --sort-bar: rgb(49, 49, 49);

  --graph: rgb(171 102 247);
  --graph-start: rgb(255, 127, 80);
  --graph-finish: rgb(255, 223, 80);
  --graph-path: rgb(255, 127, 80);
  --graph-blocked: rgb(61, 61, 61);

  background-color: var(--background);
}
